# Git
.git
.gitignore

# Build artifacts
*.o
*.obj
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*.pro.user
*.qmake.stash
FileMover

# IDE files
.vscode/
.idea/
*.user
*.autosave

# Temporary files
*~
*.bak
*.swp
*.tmp

# Logs
*.log

# Docker related
Dockerfile
docker-compose.yml
.dockerignore

# Other unnecessary files
.DS_Store